*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6rem;
	background-color: #000;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

@font-face {
	font-family: NorseBold;
	src: url(./Norse-Bold.otf);
}

.main {
	display: flex;
	height: 100vh;
	padding: 0 25rem;
}

.header {
	width: 35%;
	background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	padding-top: 20rem;
}

.header__banner {
	height: 20rem;
	background-color: rgba(0, 0, 0, 0.356);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 1.5rem 0;
}

.header__banner--img {
	height: 100%;
}
.header__banner--text {
	text-transform: uppercase;
	font-size: 10rem;
	font-family: NorseBold;
}

.form-section {
	width: 65%;
	background-color: #f4f4f4;
	height: 100%;
	padding: 10rem 0;
	color: #333;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.form-section__text-box {
	padding: 0 12rem 0 5rem;
}

.form-section__text {
	font-size: 2.5rem;
	font-weight: 700;
}

.form-section__text span {
	display: block;
	margin-top: 1.5rem;
}

.form-section__form {
}

.form__header {
	box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
	font-size: 3rem;
	background-color: #fff;
	padding: 2rem 5rem;
}

.form-list {
	box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
	background-color: #fff;
	font-family: 'Roboto Mono', monospace;
	list-style-type: none;
	padding: 0 10rem 5rem 5rem;

	font-size: 2rem;

	/* display: flex;
	flex-wrap: wrap;
	gap: 10rem; */

	display: grid;
	grid-template-columns: repeat(2, 40%);
	column-gap: 10%;
}

.form-list__item {
	margin-bottom: 0rem;
}

.form-list__item label {
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	z-index: 1;
}
.form-list__item label,
.form-list__item input {
	display: block;
}

.form-list__item input {
	outline: 0;
	border: 0;
	margin-bottom: 0.5rem;
	outline: 1px solid rgba(197, 197, 197, 0.534);
	border-radius: 0.5rem;
	height: 3.5rem;
	padding: 0.5rem 1rem;
	transition: all 0.2s;
	font-size: 1.6rem;
	width: 100%;
}

.form-list__item input:focus {
	outline: 1px solid rgba(58, 117, 206, 1);
	box-shadow: 0.2rem 0.2rem 0.5rem rgba(156, 154, 154, 0.568);
}

/* .form-list__item input:invalid {
	outline: 1px solid red; 
} */

.validation__message {
	color: red;
	font-size: 1rem;
	display: inline-block;
	padding: 0;
	margin: 0;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.2s ease-in;
}

.validation__message:hover {
	position: absolute;
	padding: 0.5rem;
	z-index: 1;
	background-color: #fff;
	box-shadow: 1px 2px 3px rgba(139, 139, 139, 0.2);
}

.form__button {
	padding: 1rem 4rem;
	border-radius: 1rem;
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
	background-color: rgb(4, 85, 17);
	border: 0;
	outline: 0;
	margin: 4rem 5rem 3rem 5rem;
	cursor: pointer;
	transition: all 0.2s;
}

.form__button:hover {
	background-color: rgba(2, 74, 156, 0.87);
}

.form__button:active {
	transform: translateY(-0.5rem);
}
.form__button:focus {
	background-color: rgba(2, 74, 156, 0.87);
}

.login__text {
	font-size: 2rem;
	padding-left: 5rem;
}

.login__link a,
a:link,
a:visited,
a:active,
a:focus {
	display: inline-block;
	border: none;
	outline: 0;
	text-decoration: none;
	color: rgb(4, 85, 17);
	font-weight: 700;
	margin-left: 1rem;
	transition: transform 0.2s;
}

.login__link:hover {
	border-bottom: 2px solid rgb(4, 85, 17);
}

.login__link:active {
	transform: translateY(-0.5rem);
}
